{% for var in ansible_play_hosts%}
{% set uno = hostvars[var].cant_vrf| int %}
{% for i in range (uno)%}
{{hostvars[var].name}};{{hostvars[var].vrf[i].vpn}};{{hostvars[var].vrf[i].rd}}
{% endfor %}
{% endfor %}